# Analysis of Crime data

### Import Dependencies

In [1]:
# Import dependencies
import os 
import pandas as pd
import matplotlib as plt
import regex as re
import numpy as np
from sqlalchemy import create_engine

In [2]:
# SQL dependencies
from config import db_password
db_string = f"postgresql://bhmcd:{db_password}@crime-analysis.cnoedyl0m22c.us-east-2.rds.amazonaws.com:5432/Crime_AnalysisDB"
engine = create_engine(db_string)

In [3]:
# Import CSV file
# CSV Texas-Crime-Index-2015-2020.csv which contains crime data for all of TX counties
df = pd.read_csv('Resources/CSV/Texas-Crime-Index-2015-2020.csv')
df.head(10)

,AgencyName,Murder,Rape,Robbery,Assault,Burglary,Larceny,Auto Theft,Total,Population,Year,County
0,FRANKSTON PD,0,2,1,6,14,31,2,56,1174,2015,Anderson County
1,ANDERSON CO SO,7,11,3,52,174,184,25,456,38087,2015,Anderson County
2,PALESTINE PD,2,25,18,137,131,534,48,895,18299,2015,Anderson County
3,ANDREWS CO SO,0,6,2,8,12,68,20,116,4413,2015,Andrews County
4,ANDREWS PD,0,12,10,56,48,245,31,402,13835,2015,Andrews County
5,ANGELINA CO SO,3,11,4,58,192,319,35,622,39494,2015,Angelina County
6,LUFKIN PD,1,7,44,90,328,1309,60,1839,36401,2015,Angelina County
7,HUDSON PD (NR),0,2,1,15,18,53,1,90,4781,2015,Angelina County
8,HUNTINGTON PD,0,2,1,3,30,14,2,52,2104,2015,Angelina County
9,DIBOLL PD,0,2,0,6,26,46,5,85,5371,2015,Angelina County

### Data Types

In [4]:
# Data types
df.dtypes

AgencyName    object
Murder         int64
Rape           int64
Robbery        int64
Assault        int64
Burglary       int64
Larceny        int64
Auto Theft     int64
Total          int64
Population     int64
Year           int64
County        object
dtype: object

In [5]:
# Assigning 'Year' column as 'object' datatype tp prevent .sum() adding years together
df = df.astype({"Year":'object'})
df.dtypes

AgencyName    object
Murder         int64
Rape           int64
Robbery        int64
Assault        int64
Burglary       int64
Larceny        int64
Auto Theft     int64
Total          int64
Population     int64
Year          object
County        object
dtype: object

### Re-naming Columns

In [6]:
df.rename(columns = {"AgencyName":"Agency_Name", "Auto Theft":"Auto_Theft", "Total":"Total_Crime"}, inplace=True)

In [7]:
df.columns

Index(['Agency_Name', 'Murder', 'Rape', 'Robbery', 'Assault', 'Burglary',
       'Larceny', 'Auto_Theft', 'Total_Crime', 'Population', 'Year', 'County'],
      dtype='object')

In [8]:
df.head()

,Agency_Name,Murder,Rape,Robbery,Assault,Burglary,Larceny,Auto_Theft,Total_Crime,Population,Year,County
0,FRANKSTON PD,0,2,1,6,14,31,2,56,1174,2015,Anderson County
1,ANDERSON CO SO,7,11,3,52,174,184,25,456,38087,2015,Anderson County
2,PALESTINE PD,2,25,18,137,131,534,48,895,18299,2015,Anderson County
3,ANDREWS CO SO,0,6,2,8,12,68,20,116,4413,2015,Andrews County
4,ANDREWS PD,0,12,10,56,48,245,31,402,13835,2015,Andrews County

### Finding how many agencies reported data per year

In [9]:
#Count the number of agencies reporting per county per year
agencies_count_per_year = df.groupby(["County", "Year"]).count()
agencies_count_per_year.head(6)

                      Agency_Name  Murder  Rape  Robbery  Assault  Burglary  \
County          Year
Anderson County 2015            3       3     3        3        3         3
                2016            3       3     3        3        3         3
                2017            3       3     3        3        3         3
                2018            3       3     3        3        3         3
                2019            3       3     3        3        3         3
                2020            3       3     3        3        3         3

                      Larceny  Auto_Theft  Total_Crime  Population
County          Year
Anderson County 2015        3           3            3           3
                2016        3           3            3           3
                2017        3           3            3           3
                2018        3           3            3           3
                2019        3           3            3           3
                2020        3           3            3           3

In [10]:
#Create new df to hold count
agencies_count_per_year_df = pd.DataFrame(agencies_count_per_year).reset_index()
agencies_count_per_year_df.head(6)

,County,Year,Agency_Name,Murder,Rape,Robbery,Assault,Burglary,Larceny,Auto_Theft,Total_Crime,Population
0,Anderson County,2015,3,3,3,3,3,3,3,3,3,3
1,Anderson County,2016,3,3,3,3,3,3,3,3,3,3
2,Anderson County,2017,3,3,3,3,3,3,3,3,3,3
3,Anderson County,2018,3,3,3,3,3,3,3,3,3,3
4,Anderson County,2019,3,3,3,3,3,3,3,3,3,3
5,Anderson County,2020,3,3,3,3,3,3,3,3,3,3

In [11]:
# Column names
agencies_count_per_year_df.columns

Index(['County', 'Year', 'Agency_Name', 'Murder', 'Rape', 'Robbery', 'Assault',
       'Burglary', 'Larceny', 'Auto_Theft', 'Total_Crime', 'Population'],
      dtype='object')

In [12]:
# Rename AgencyName coulumn to Agency count
agencies_count_per_year_df.rename(columns = {"Agency_Name":"Agency_Count"}, inplace=True)
agencies_count_per_year_df.head()

,County,Year,Agency_Count,Murder,Rape,Robbery,Assault,Burglary,Larceny,Auto_Theft,Total_Crime,Population
0,Anderson County,2015,3,3,3,3,3,3,3,3,3,3
1,Anderson County,2016,3,3,3,3,3,3,3,3,3,3
2,Anderson County,2017,3,3,3,3,3,3,3,3,3,3
3,Anderson County,2018,3,3,3,3,3,3,3,3,3,3
4,Anderson County,2019,3,3,3,3,3,3,3,3,3,3

In [13]:
# Drop unnecessary columns
agencies_count_per_year_df = agencies_count_per_year_df.drop(columns=['Murder', 'Rape', 'Robbery', 'Assault',
       'Burglary', 'Larceny', 'Auto_Theft', 'Total_Crime', 'Population'])
agencies_count_per_year_df.head()

            County  Year  Agency_Count
0  Anderson County  2015             3
1  Anderson County  2016             3
2  Anderson County  2017             3
3  Anderson County  2018             3
4  Anderson County  2019             3

### Crime Data .groupby(county)

In [14]:
# groupby Counties
counties = df.groupby('County')
counties.head()

,Agency_Name,Murder,Rape,Robbery,Assault,Burglary,Larceny,Auto_Theft,Total_Crime,Population,Year,County
0,FRANKSTON PD,0,2,1,6,14,31,2,56,1174,2015,Anderson County
1,ANDERSON CO SO,7,11,3,52,174,184,25,456,38087,2015,Anderson County
2,PALESTINE PD,2,25,18,137,131,534,48,895,18299,2015,Anderson County
3,ANDREWS CO SO,0,6,2,8,12,68,20,116,4413,2015,Andrews County
4,ANDREWS PD,0,12,10,56,48,245,31,402,13835,2015,Andrews County
...,...,...,...,...,...,...,...,...,...,...,...,...
5065,UPTON CO SO,0,0,0,2,3,25,3,33,3693,2019,Upton County
5152,ZAPATA CO SO,0,1,5,46,76,105,2,235,14114,2019,Zapata County
5369,COLLINGSWORTH CO SO,0,0,0,0,0,0,0,0,2896,2020,Collingsworth County
5516,FISHER CO SO,0,0,0,11,3,4,2,20,3803,2020,Fisher County
6209,ZAPATA CO SO,0,0,3,13,36,72,0,124,14142,2020,Zapata County

In [15]:
# Dropping AgencyName Column so only counties are listed
counties_df = df.drop(columns = ['Agency_Name'])
counties_df.head()

,Murder,Rape,Robbery,Assault,Burglary,Larceny,Auto_Theft,Total_Crime,Population,Year,County
0,0,2,1,6,14,31,2,56,1174,2015,Anderson County
1,7,11,3,52,174,184,25,456,38087,2015,Anderson County
2,2,25,18,137,131,534,48,895,18299,2015,Anderson County
3,0,6,2,8,12,68,20,116,4413,2015,Andrews County
4,0,12,10,56,48,245,31,402,13835,2015,Andrews County

In [16]:
# Reorder columns
new_column_order = ["County","Murder","Rape","Assault","Burglary","Larceny","Auto_Theft","Total_Crime","Population","Year"]
counties_df = counties_df[new_column_order]
counties_df.head()

,County,Murder,Rape,Assault,Burglary,Larceny,Auto_Theft,Total_Crime,Population,Year
0,Anderson County,0,2,6,14,31,2,56,1174,2015
1,Anderson County,7,11,52,174,184,25,456,38087,2015
2,Anderson County,2,25,137,131,534,48,895,18299,2015
3,Andrews County,0,6,8,12,68,20,116,4413,2015
4,Andrews County,0,12,56,48,245,31,402,13835,2015

In [17]:
county_summary = counties_df.groupby(["County", "Year"]).sum()
county_summary.head()

                      Murder  Rape  Assault  Burglary  Larceny  Auto_Theft  \
County          Year
Anderson County 2015       9    38      195       319      749          75
                2016       2    44      237       259      485          94
                2017       2    25      153       278      536          64
                2018       1     8       96       198      531          62
                2019       2    23      100       249      514          82

                      Total_Crime  Population
County          Year
Anderson County 2015         1407       57560
                2016         1145       57250
                2017         1078       57569
                2018          907       57491
                2019          984       57657

In [18]:
county_summary_df = pd.DataFrame(county_summary).reset_index()
county_summary_df.head(6)

,County,Year,Murder,Rape,Assault,Burglary,Larceny,Auto_Theft,Total_Crime,Population
0,Anderson County,2015,9,38,195,319,749,75,1407,57560
1,Anderson County,2016,2,44,237,259,485,94,1145,57250
2,Anderson County,2017,2,25,153,278,536,64,1078,57569
3,Anderson County,2018,1,8,96,198,531,62,907,57491
4,Anderson County,2019,2,23,100,249,514,82,984,57657
5,Anderson County,2020,4,15,109,208,456,70,869,57474

In [19]:
county_summary_df.dtypes

County         object
Year            int64
Murder          int64
Rape            int64
Assault         int64
Burglary        int64
Larceny         int64
Auto_Theft      int64
Total_Crime     int64
Population      int64
dtype: object

### Violent and NonViolent Crimes

In [20]:
# Dataframe being used
county_summary_df.head()

,County,Year,Murder,Rape,Assault,Burglary,Larceny,Auto_Theft,Total_Crime,Population
0,Anderson County,2015,9,38,195,319,749,75,1407,57560
1,Anderson County,2016,2,44,237,259,485,94,1145,57250
2,Anderson County,2017,2,25,153,278,536,64,1078,57569
3,Anderson County,2018,1,8,96,198,531,62,907,57491
4,Anderson County,2019,2,23,100,249,514,82,984,57657

In [21]:
# Classifing nonviolent vs violent offenses
nonviolent_offense = county_summary_df[["Auto_Theft","Larceny","Burglary"]]
violent_offense = county_summary_df[["Rape", "Murder","Assault"]]

In [22]:
# View nonviolent_offenses
nonviolent_offense.head()

   Auto_Theft  Larceny  Burglary
0          75      749       319
1          94      485       259
2          64      536       278
3          62      531       198
4          82      514       249

In [23]:
# View violent_offenses
violent_offense.head()

   Rape  Murder  Assault
0    38       9      195
1    44       2      237
2    25       2      153
3     8       1       96
4    23       2      100

In [24]:
# Sum of nonviolent_offenses
nonviolent_offenses = nonviolent_offense.sum(axis=1)
nonviolent_offenses

0       1143
1        838
2        878
3        791
4        845
        ...
1507     164
1508     384
1509     299
1510      73
1511      72
Length: 1512, dtype: int64

In [25]:
# Sum of violent_offenses
violent_offenses = violent_offense.sum(axis=1)
violent_offenses

0       242
1       283
2       180
3       105
4       125
       ...
1507     33
1508     55
1509     19
1510     21
1511     18
Length: 1512, dtype: int64

In [26]:
# creating summary df
summary_df= pd.DataFrame(county_summary_df)
summary_df.head()

,County,Year,Murder,Rape,Assault,Burglary,Larceny,Auto_Theft,Total_Crime,Population
0,Anderson County,2015,9,38,195,319,749,75,1407,57560
1,Anderson County,2016,2,44,237,259,485,94,1145,57250
2,Anderson County,2017,2,25,153,278,536,64,1078,57569
3,Anderson County,2018,1,8,96,198,531,62,907,57491
4,Anderson County,2019,2,23,100,249,514,82,984,57657

In [27]:
# adding column Violent and Non-Viloent offenses
summary_df['Violent_Offenses'] = violent_offenses
summary_df['NonViolent_Offenses'] = nonviolent_offenses

In [28]:
#visualizing the dataframe
summary_df.head(10)

,County,Year,Murder,Rape,Assault,Burglary,Larceny,Auto_Theft,Total_Crime,Population,Violent_Offenses,NonViolent_Offenses
0,Anderson County,2015,9,38,195,319,749,75,1407,57560,242,1143
1,Anderson County,2016,2,44,237,259,485,94,1145,57250,283,838
2,Anderson County,2017,2,25,153,278,536,64,1078,57569,180,878
3,Anderson County,2018,1,8,96,198,531,62,907,57491,105,791
4,Anderson County,2019,2,23,100,249,514,82,984,57657,125,845
5,Anderson County,2020,4,15,109,208,456,70,869,57474,128,734
6,Andrews County,2015,0,18,64,60,313,51,518,18248,82,424
7,Andrews County,2016,1,21,61,78,286,36,485,18785,83,400
8,Andrews County,2017,0,8,54,57,185,25,330,18285,62,267
9,Andrews County,2018,0,10,61,60,187,33,352,18130,71,280

In [29]:
# Reordering the columns
summary_df = summary_df.reindex(columns = ["County", "Year", "Murder", "Rape", "Assault", "Burglary", "Larceny",
       "Auto_Theft", "Violent_Offenses", "NonViolent_Offenses", "Total_Crime", "Population"])
summary_df.head(10)

,County,Year,Murder,Rape,Assault,Burglary,Larceny,Auto_Theft,Violent_Offenses,NonViolent_Offenses,Total_Crime,Population
0,Anderson County,2015,9,38,195,319,749,75,242,1143,1407,57560
1,Anderson County,2016,2,44,237,259,485,94,283,838,1145,57250
2,Anderson County,2017,2,25,153,278,536,64,180,878,1078,57569
3,Anderson County,2018,1,8,96,198,531,62,105,791,907,57491
4,Anderson County,2019,2,23,100,249,514,82,125,845,984,57657
5,Anderson County,2020,4,15,109,208,456,70,128,734,869,57474
6,Andrews County,2015,0,18,64,60,313,51,82,424,518,18248
7,Andrews County,2016,1,21,61,78,286,36,83,400,485,18785
8,Andrews County,2017,0,8,54,57,185,25,62,267,330,18285
9,Andrews County,2018,0,10,61,60,187,33,71,280,352,18130

### Create main dataframe, crime_data_df

In [30]:
crime_data_df = pd.merge(agencies_count_per_year_df,summary_df)
crime_data_df.head()

,County,Year,Agency_Count,Murder,Rape,Assault,Burglary,Larceny,Auto_Theft,Violent_Offenses,NonViolent_Offenses,Total_Crime,Population
0,Anderson County,2015,3,9,38,195,319,749,75,242,1143,1407,57560
1,Anderson County,2016,3,2,44,237,259,485,94,283,838,1145,57250
2,Anderson County,2017,3,2,25,153,278,536,64,180,878,1078,57569
3,Anderson County,2018,3,1,8,96,198,531,62,105,791,907,57491
4,Anderson County,2019,3,2,23,100,249,514,82,125,845,984,57657

### Grabbing sample data for provisional ML model

In [31]:
crime_df = crime_data_df.sample(frac = 0.25)
crime_df.head()

,County,Year,Agency_Count,Murder,Rape,Assault,Burglary,Larceny,Auto_Theft,Violent_Offenses,NonViolent_Offenses,Total_Crime,Population
88,Bexar County,2019,27,122,1821,8138,9706,58699,8624,10081,77029,89232,2010637
829,Lamar County,2017,4,1,14,206,269,778,67,221,1114,1367,49735
1380,Uvalde County,2018,3,1,11,37,144,544,25,49,713,769,27156
1412,Waller County,2020,6,3,44,94,179,409,60,141,648,823,54943
751,Jones County,2015,5,0,4,17,76,137,23,21,236,258,14241

### Export Sample data to SQL

In [32]:
#Export to SQL
crime_df.to_sql(name='tx_yearly_crime', con=engine, index=False, if_exists='replace')

### Export to CSV files

In [33]:
# Export County Summary to CSV
county_summary_df.to_csv('Resources/CSV/county_summaries_by_year.csv', index=False)

In [34]:
# Export Agencies Summary to CSV
agencies_count_per_year_df.to_csv('Resources/CSV/reporting_agencies_per_year.csv', index=False)

In [35]:
# Export Crime Summary to CSV
summary_df.to_csv('Resources/CSV/crime_summary.csv', index=False)

In [36]:
# MAIN CSV TO BE USED
#Export Crime Data to CSV
crime_data_df.to_csv('Resources/CSV/crime_data.csv', index=False)

### Export Main DFs to SQL

In [37]:
crime_data_df.to_sql(name='crime_data', con=engine, index=False, if_exists='replace')