In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Import Data
yearly_df = pd.read_csv("Resources/CSV/Texas-Crime-Index-2015-2020.csv")
yearly_df.head()

,AgencyName,Murder,Rape,Robbery,Assault,Burglary,Larceny,Auto Theft,Total,Population,Year,County
0,FRANKSTON PD,0,2,1,6,14,31,2,56,1174,2015,Anderson County
1,ANDERSON CO SO,7,11,3,52,174,184,25,456,38087,2015,Anderson County
2,PALESTINE PD,2,25,18,137,131,534,48,895,18299,2015,Anderson County
3,ANDREWS CO SO,0,6,2,8,12,68,20,116,4413,2015,Andrews County
4,ANDREWS PD,0,12,10,56,48,245,31,402,13835,2015,Andrews County

In [3]:
# Rename total column
yearly_df.rename(columns={'Total':'Total_Crimes'}, inplace=True)

In [4]:
# Make new DF's based on violent and non-violent offenses
nonviolent_offenses = yearly_df[["Auto Theft","Larceny","Burglary"]]
violent_offenses = yearly_df[["Rape", "Murder","Assault"]]

In [5]:
# Sum of nonviolent_offenses
nonviolent_offenses = nonviolent_offenses.sum(axis=1)
nonviolent_offenses

0        47
1       383
2       713
3       100
4       324
       ...
6207     86
6208     23
6209    108
6210     44
6211     28
Length: 6212, dtype: int64

In [6]:
# Sum of violent_offenses
violent_offenses = violent_offenses.sum(axis=1)
violent_offenses

0         8
1        70
2       164
3        14
4        68
       ...
6207     13
6208      8
6209     13
6210     11
6211      7
Length: 6212, dtype: int64

In [7]:
# Add the series back to the main Dataframe
yearly_df['Violent_Offenses'] = violent_offenses
yearly_df['NonViolent_Offenses'] = nonviolent_offenses

In [8]:
# Group crimes by year, replace spaces with underscores and reorder columns
yearly_df.columns = yearly_df.columns.str.replace(' ','_')
yearly_df.drop('Population', axis = 1, inplace = True)
yearly_df = yearly_df.groupby('Year').sum()
yearly_df = yearly_df[['Murder', 'Rape', 'Robbery', 'Assault', 'Burglary', 'Larceny',
       'Auto_Theft', 'Violent_Offenses', 'NonViolent_Offenses', 'Total_Crimes']]
yearly_df

,Murder,Rape,Robbery,Assault,Burglary,Larceny,Auto_Theft,Violent_Offenses,NonViolent_Offenses,Total_Crimes
Year,,,,,,,,,,
2015,1315,12395,31853,67234,152297,555782,67226,80944,775305,888102
2016,1472,13463,33241,72494,148222,550072,68839,87429,767133,887803
2017,1412,14542,32119,75256,132885,519621,67638,91210,720144,843473
2018,1337,15097,28319,74096,117399,492242,69858,90530,679499,798348
2019,1442,15346,29064,75878,112463,499861,77814,92666,690138,811868
2020,1972,14308,27007,89248,108071,466494,84409,105528,658974,791509

In [9]:
# Export County Summary to CSV
yearly_df.to_csv('Resources/CSV/yearly_totals.csv', index=True)